<!DOCTYPE html>
<html>
<head lang="es">

    <meta charset="UTF-8">
    <title>Productos - Magento2</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="app/catalog.js"></script>
	
</head>

<body>

	<div class="container-fluid outerdiv" ng-app="Catalog" ng-controller="ProductsCtrl">
		<div class="input-group search-bar">
			<input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control" placeholder="Buscar producto por nombre" autofocus />
			<span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
		</div>
		<div ng-if="products.total_count > 0">
			<div class="col-md-3 col-sm-6" ng-repeat="product in products.items">
				<img src="{{ product.image }}" alt="{{ product.name }}" style="width:100%;" />
				<h4>{{ product.name }}</h4>
				<h5>$ {{ product.price }}</h5>
				<h6>{{ product.sku  }}</h6>
			</div>
		</div>
	</div>

</body>

</html>
